html
    head
        title="Shopping Cart"
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='')
        script(src='/bootstrap/dist/js/bootstrap.min.js')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    body
        div.container
            div.content
                h2.display-4.m-b-2 Shopping Cart Items
                table.table.table(border='1')
                    thead
                        tr
                            th Item No
                            th Item Name
                            th Quantity
                            th Action
                    tbody
                        each item in items
                            tr
                                td=item.itemno
                                td=item.itemname
                                td=item.qty
                                td
                                    button.btn.btn-danger(type='button',onClick='delete1("#{item.itemno}")') Delete

        script.
            function delete1(d) {
                console.log('function called');

                var val = confirm('Do you want to delete the record?');

                if(val == true) {
                    window.location.href = '/delete/'+d;
                    return true;
                }
                else {
                    return false;
                }
            }
